{% extends 'detail_index.html' %}
{% block content %}
    {% for image in hotel.hotel_image.all %}
    <div class="row">
        <div class="feature-full">
            <div class="image-full">
                <p><img src="{{ image.image.url }}" width="1000" height="600" alt="..."
                        style="margin-top: -10px; margin-left: -0px;"></p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
        <div class="desc">
                <h3 style="margin-top: 10px;">{{ hotel.title }}</h3>
                <p>{{ hotel.description }}</p>
                <p>Цена за одну ночь {{ hotel.price }} сомов</p>
            </div>
        </div>
        <div class="a-col alternate">
            <div class="input-field">
                <label for="date-start">Дата заезда</label>
                <input type="text" class="form-control" id="date-start" />
            </div>
        </div>
        <div class="a-col alternate">
            <div class="input-field">
                <label for="date-end">Дата отъезда</label>
                <input type="text" class="form-control" id="date-end" />
            </div>
        </div>
        <div class="a-col action">
            <a href="#">
                <span>Проверить</span>
                Номера
            </a>
        </div>
    {% endblock %}