{% extends 'detail_index.html' %}
{% block content %}
{% for image in hotel.hotel_image.all %}
<div class="row">
    <div class="feature-full">
        <div class="image-full">
            <p><img src="{{ image.image.url }}" width="1000" height="600" alt="..."
                    style="margin-top: -10px; margin-left: -0px; border:5px #ffffff  solid;"></p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="desc">
    <h3 style="margin-top: 10px;">{{ hotel.title }}</h3>
    <p>{{ hotel.description }}</p>
    <p>Цена за одну ночь {{ hotel.price }} сомов</p>
    <p>Wifi: {{ hotel.wifi }}</p>
    <p>Парковка: {{ hotel.parking}}</p>
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'create_order' %}" class="btn btn-primary btn-luxe-primary">Бронировать</a>
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="like">
        <button type="submit" class="btn btn-dark" style="margin-top: 10px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
        </button>
    </form>
    {% else %}
    {% endif %}
    <div class="ml-3">
        <p>{{ hotel.likes_hotel.all.count }} человеку понравилось</p>
    </div>
    <div class="comments-area">
        <h4 style="margin-top: 20px; margin-left: 5px;">{{ hotel.comment.all.count }} коментов:</h4>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="comment" value="{{ comment.id }}">
                <textarea style="margin-left: 5px;" rows="4" cols="50" name="text" placeholder="Написать отзыв"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Написать отзыв'" required=""></textarea>
            </div>
            <button type="submit" class="mb-2 btn btn-luxe-primary d-block mx-auto" style="margin-left: 5px;">Отправить отзыв</button>
        </form>
        {% else %}
        {% endif %}
        {% for comment in hotels.get_parent %}
        <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="img/blog/c1.jpg" alt="">
                    </div>
                    <div class="desc">
                        <a class="comment_author" style="margin-top: 10px; margin-left: 10px">{{ comment.user }}</a>
                        <p class="comment" style="margin-top: 10px; margin-left: 10px">{{ comment.text }}</p>
                        <p class="date" style="margin-left: 10px;">{{ comment.comment_created }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}