{% extends 'index.html' %}
{% block content %}
{% for hotel in hotels %}
<div class="row">
    <div class="feature-full-1col">
        {% for image in hotel.hotel_image.all %}
        <div class="image">
            <li><img src="{{ image.image.url }}"width="500px" height= "300px" />
        </div>
        <div class="desc">
            <h3>{{ hotel.title }}</h3>
            <p>{{ hotel.description }}</p>
            <p><a href="#" class="btn btn-primary btn-luxe-primary">Look Now <i class="ti-angle-right"></i></a></p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- <p class="card-text">{{ movie.description|truncatewords:20}}</p>
            <p class="card-text">{{ movie.created }}</p>
            <p class="card-text">By {{ movie.user }}</p> -->
{% endfor %}
{% endblock %}