{% extends 'order_index.html' %}
{% block content %}
<div class="desc">
    <div class = "col">
        <h3 class="card-title" style = "margin-top: 10px">Отель: {{ order.order }}</h3>
    </div>
    <div class="col">
        <p>Имя: {{ order.name }}</p>
        <p>Фамилия: {{ order.surname }}</p>
        <p>Отечество: {{ order.fatherland }}</p>
        <p>Дата заезда: {{ order.arrival_date }}</p>
        <p>Дата отъезда: {{ order.departure_date }}</p>
        <p>Id Card: {{ order.id_card }}</p>
    </div>
    <div class = "col">
        <p>Заявка на бронирование подан в {{ order.create_at }} пользователем {{ order.user }}</p>
        <p><a href="{% url 'order_index' %}" class="btn btn-primary btn-luxe-primary">Назад<i class="ti-angle-right"></i></a></p>
    </div>
</div>
{% endblock %}