{% extends 'order_index.html' %}
{% block content %}
{% for order in orders %}
<div class="desc">
    <h3 class="card-title" style="margin-top: 10px">Отель: {{ order.order }}</h3>
    <p>Имя: {{ order.name }}</p>
    <p>Фамилия: {{ order.surname }}</p>
    <p>Отечество: {{ order.fatherland }}</p>
    <p>Дата заезда: {{ order.arrival_date }}</p>
    <p>Дата отъезда: {{ order.departure_date }}</p>
    <p>Id Card: {{ order.id_card }}</p>
    <a href="{% url 'detail_order' order.id %}" class="mb-2 btn btn-luxe-primary d-block mx-auto">Смотреть</a>
</div>
{% endfor %}
{% endblock %}